# Byte-compiled / optimized / DLL files
**/__pycache__
*$py.class
**/.ipynb_checkpoints
**/.ipynb_checkpoints/**
**/video_llama_stage1_pretrain_v2.yaml
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

data/
eval_configs/video_llama_test_run.yaml
**/video_llama_stage1_pretrain_v2.yaml
**/output
**/video_llama_stage2_finetune_v2.yaml
eval_configs/video_llama_test_**.yaml
**/train_configs/video_llama**
.vscode/*

ckpt/

